/* The index page */
.feedback-mask,
.feedback,
.home-ad-bottom {
  display: none !important;
}


/* page */
.ad-right, 
#ad-top {
  display: none !important;
}

form.search-form {
  right: 700px !important;
}
