/* The index page */
.feedback-mask,
.feedback,
.home-ad-bottom {
  display: none !important;
}


/* page */
.ad-right, 
#taobao_left_rcm_11,
.pc-entry,
.left_rcm_11_hide,
#ad-top {
  display: none !important;
}

form.search-form {
  right: 700px !important;
}
