/* ADs*/
.gWel-promt,
.gWel-weather-promote,
.js-component-component.nui-tree-item.En0,
.gWel-tabs-promt {
  display: none !important;
}

/* Make Main Div higher */
.gWel-inner {
  min-height: 300px;
}

/* The bottom area is useless */
.gWel-bottom {
  display: none !important;
}

/* Bye Lofter */
.gWel-mailInfo-lofter {
  display: none !important;
}

/* Bye Yixin */
#dvYixinWrapper {
  display: none !important;
}

/* Top Ad */
.hM1,
#_mail_component_12_12,
#_mail_component_14_14,
#_mail_component_16_16,
#_mail_component_19_19  {
  display: none !important;
}

/* 1 Yuan */
ul[role="tablist"] li[title="一元夺宝"],
ul[role="tablist"] li[title="网易秀品"],
ul[role="tablist"] li[title="考拉海购"]{
  display: none !important;
}

.gWel-mailInfo-jifen {
  display: none !important;
}

/* AD Slider */
div.mod-picSlider-warper {
  display: none !important;
}
.m-Content {
  padding-top: 0 !important;
}

/* APP Rank */
section.frame-main-side  > div.m-sideCont:last-child {
  display: none !important;
}
