/* I don't need iframes */
iframe,
div[id^="BAIDU_DUP"],
#bdshare,
#top10,
#right,
.advertframe,
.ad_left, .ad_right {
  display: none !important;
}

#left {
  position: static !important;
  float: none !important;
}

#left,
#left  > *,
#body #left .box .content,
#body #left .box .content ul,
#body #left .box .content ul li {
  width: 100% !important;
}